{% extends 'home/base.html' %}

{% block content %}
      <div class="cont_home">
        <h1>Простой список задач!</h1>
        <p class='cont_text'>Самое простое приложение для списка дел.
        Если у вас нет времени, что бы разбираться в навороченых списках задач, вам к нам!
        Все интуитивно и понятно, с нами у вас станет в разы больше времени и свободнее голова.</p>
        <a href="{% if user.is_authenticated %}{% url 'todo:list_todo' %}{% else %}{% url 'user:login' %}{% endif %}" role="button" class='cont_button'>Начать</a>
      </div>
{% endblock %}