{% extends 'home/base.html' %}

{% block content %}
<div class="cont_home corrent_flex-start">
        <div class="">
          <h2> Регистрация </h2>
        </div>

        {% if form.errors %}
        <div class="error_message">
          {{ form.errors }}
        </div>
        {% endif %}

        <form class="" action="{% url 'user:registration' %}" method="post">
          {% csrf_token %}
          <div class="form_create">
            <label for="username"> Имя </label>
            <input type="text" name="username" id="username" class="title_form">
          </div>

          <div class="form_create">
            <label for="password1"> Пароль </label>
            <input type="password" name="password1" id="password1" class="title_form">
          </div>

          <div class="form_create">
            <label for="password2"> Повторите пароль </label>
            <input type="password" name="password2" id="password2" class="title_form">
          </div>

          <button type="submit" name="button" class="cont_button">Регистрация</button>
        </form>
        <div class="">
          Уже есть аккаунт?
          <a href="{% url 'user:login' %}"> Войти </a>
        </div>
      </div>

{% endblock %}
