{% extends 'home/base.html' %}

{% block content %}
<div class="cont_home corrent_flex-start">
        <h1>Завершенные задач</h1>

        <div class="todos">
          <div class="todo">
            <a href="#" class='todo_text'><b>Название</b> - Дата </a>
            <a href="#"><img src="../static/img/trash.png" alt="" title="Удалить" width="20" height="20"></a>

          </div>
          <div class="todo">
            <a href="#" class='todo_text'><b>Название</b> - Дата </a>
          </div>
          <div class="todo">
            <a href="#" class='todo_text'><b>Название</b> - Дата </a>
          </div>
        </div>
      </div>
{% endblock %}